<% layout("/layouts/boilerplate")  %>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search Results</title>
</head>
<body>
    <h1>Search Results for "<%= location %>"</h1>
    <% if(results.length > 0) { %>
        <ul>
            <% results.forEach(listing => { %>
                <li>
                    <h2><a href="/listings/<%= listing._id %>"><%= listing.title %></a></h2>
                    <p><%= listing.description %></p>
                    <p>Location: <%= listing.location %></p>
                </li>
            <% }) %>
        </ul>
    <% } else { %>
        <p>No listings found for "<%= location %>"</p>
    <% } %>
</body>
</html>

